<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/startGame.css">

        <title>Home</title>
    </head>

    <body>
        <%- include ("headerPasPourLeMain.ejs") %>
        <section>

        <div class="canv">
            <canvas id="canvas"></canvas>
        </div>
        <script>
            let maze = JSON.parse('<%- JSON.stringify(maze) %>')
            let questions = JSON.parse(`<%- JSON.stringify(questions) %>`)
        </script>
        <script src="/scripts/game.js"></script>
        <%- include("carte_question.ejs") %>
        </section>
    </body>

    <%- include("footer.ejs") %>
</html>